<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <title>List prestataire</title>
</head>
<body>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">name</th>
    <th scope="col">vitesse</th>
    <th scope="col">prix</th>
    <th scope="col">employe</th>
    <th scope="col">penalite</th>
    <th scope="col">rentabilité</th>
  </tr>
  </thead>
  <tbody>
    <% prestataire.each do |prest| %>
    <tr>
      <th scope="row"><%=prest.id %></th>
      <td><%=prest.nom %></td>
      <td><%=prest.vitesse %>km/jours</td>
      <td><%=prest.prix %>euro</td>
      <td><%=prest.employe %></td>
      <td>-<%=prest.penalite %></td>
      <td>-<%=prest.rentability %></td>
  </tr>
    <%end %>
  </tbody>
</table>
</body>
</html>